Thumbs.db
.DS_Store
/tmp/
*_old
*_backup
Lyudmila
Platunova_Nataly
Oksana_Magura
.idea
Michel
Token.py
__pycache__
ok1
Test01
Ya_old.py
old.py
Alex
YaUploader.py
Алексей
Владимир
Agent1.py
OkAgent1.py
VkAgent1.py
course_work.json
Документы.json
Python.json
.json